{% extends 'weather/base.html' %}
{% block title %}Погодное приложение{% endblock %}
{% block content %}
{% for info in all_info %}
                <div class="alert alert-info">
                    <div class="row">
                        <div class="col-9">
                            <b>Город:</b>{{ info.city }}<br>
                            <b>Температура:</b>{{ info.temp }}<sup>0</sup><br>
                        </div>
                        <div class="col-2 offset-1">
                            <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Фото погоды">
                        </div>
                    </div>
                    <div class="media-right">
                        <a href="{% url 'delete_city' info.city %}">
                            <button class="delete">Удалить</button>
                        </a>
                    </div>
                </div>
                {% endfor %}
{% endblock %}
