{% extends 'weather/base.html' %}
{% block title %}Погодное приложение{% endblock %}
{% block content %}
{% for info in all_info %}

    <div class="alert alert-danger">
                    <div class="row">
                        <div class="col-6">
                            <b>Город: {{ info.city }}</b> (код страны {{ info.country }})<br>
                            <b>Температура: {{ info.temp }}<sup>0</sup></b><br>
                            <b>Скорость ветра: {{ info.wind }} м/с</b><br>
                        </div>
                        <div class="col-4 offset-1">
                            <b>Погода: {{ info.description }}</b><br>
                            <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Фото погоды"><br>
                            <b>Ощущается как {{ info.feels_like }}<sup>0</sup></b><br>
                        </div>
                    </div>
                </div>

{% endfor %}
{% endblock %}