<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новая главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Malets</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Главная страница</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">информация</a>
      </nav>
    </div>
<div class="container mt-5">
    <div class="current-weather" data-widget="current-weather" data-stat-type="widget" data-stat-value="current-weather">
        <div class="current-weather-wrap">
            <div class="city">

                <a class="city-link link" href="#">{{ info.city }}</a>
            </div>
        </div>
        <div class="frame-now">
                <div class="current-time" >Cегодня</div>
                <div class="weather-info-header">
                    <div class="weather-temperature">
                        <div class="temperature" >
                            <span class="unit unit_temperature_c"><span class="sign">+</span>{{ info.temp }}</span>
                        </div>
                    </div>
                    <div class="weather-icon">
                        <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Фото погоды">
                    </div>
                </div>
                <div class="weather-item weather-feeling">
                    <div class="item-label">По ощущению</div>
                    <div class="item-value">
                        <span class="unit unit_temperature_c">{{ info.feels_like }}</span>
                    </div>
                </div>
                <div class="weather-item weather-wind">
                    <div class="item-label">Ветер</div>
                    <div class="item-value">



                        <span class="unit unit_wind_m_s">{{ info.wind }}<span class="text-12s">&nbsp;м/c</span></span>
                    </div>
                </div>
    </div>


    </div>
</div>

</body>
</html>