{% extends 'weather/base.html' %}
{% block title %}Погодное приложение{% endblock %}
{% block content %}
    <div row="row">

        <div class="col-8 offset-1">
            <form action="" method="post">
                {% csrf_token %}
                <label>Город</label>
                {{ form.name }}
                <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-danger">
            </form><br>
            {% if message %}
            <div class="alert {{ message_class }}" role="alert">
                <h5>{{ message }}</h5>
            </div>
            {% endif %}

            <div class="alert alert-info">
                <div class="row">
                            <div class="col-6">
                                <b>Город: {{ info.name }}</b> (код страны {{ info.country }})<br>
                                <b>Температура: {{ info.temperature }}<sup>0</sup></b><br>
                            </div>
                            <div class="col-4 offset-1">
                                <b>Погода: {{ info.description }}</b><br>
                                <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Фото погоды"><br>
                            </div>
                </div>
            </div>
            <a class="" href="{% url 'info' %}">Нажми чтобы посмотреть историю запросов</a>
        </div>
    </div>
{% endblock %}